<html>
        <head>
                <link href="themes/default/css/default.css" rel="stylesheet" type="text/css"/>
                <link href="themes/default/css/content.css" rel="stylesheet" type="text/css"/>
		  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
		  <script type="text/javascript" src="resource/js/dropdown.js"></script>
        </head>
        <body>
                <div id="main">
                        <div id="bodys"> 
                              <div id="header-container">
                                <div id="logo">
                                </div>
                                <div id="navigation"> 
									<div id="living" class="link">Living
										<div id="livingDropdown" class="dropdown"> 
											<div><a href="/aboutus" class="dropdownLink">About Us</a></div> 
											<div><a href="/school" class="dropdownLink">School</a></div> 
											<div><a href="/churches" class="dropdownLink">Churches</a></div> 
											<div><a href="/housing" class="dropdownLink">Housing</a></div>
											<div><a href="/seniorliving" class="dropdownLink">Senior Living</a></div>
											<div><a href="/healthservices" class="dropdownLink">Health Services</a></div>
											<div><a href="http://www.boonecountytransit.com/Home.html" class="dropdownLink">Public Transportation</a></div>
											<div><a href="/library" class="dropdownLink">Library</a></div>
											<div><a href="/history" class="dropdownLink">History</a></div>
											<div><a href="/volunteergroups" class="dropdownLink">Volunteer Groups</a></div>
										</div> 
									</div> 
									<div id="business" class="link">Business
										<div id="businessDropdown" class="dropdown"> 
											<div><a href="/comingsoon" class="dropdownLink">Business and Services Directory</a></div> 
											<div><a href="/economy" class="dropdownLink">Economy</a></div> 
											<div><a href="/comingsoon" class="dropdownLink">Job Board</a></div> 
											<div><a href="/comingsoon" class="dropdownLink">Business Wish List</a></div>
										</div> 	
									</div> 
									<div id="playing" class="link">Playing
										<div id="playingDropdown" class="dropdown"> 
											<div><a href="/hightrestletrail" class="dropdownLink">High Trestle Trail</a></div> 
											<div><a href="/parksandrecreation" class="dropdownLink">Parks and Recreation</a></div> 
											<div><a href="/museum" class="dropdownLink">Museum</a></div> 
											<div><a href="/library" class="dropdownLink">Library</a></div>
											<div><a href="/dining" class="dropdownLink">Dining</a></div> 
											<div><a href="/Lodging" class="dropdownLink">Lodging</a></div> 
											<div><a href="/regionalattractions" class="dropdownLink">Regional Attractions</a></div> 
											<div><a href="/comingsoon" class="dropdownLink">Rental Halls</a></div>		
										</div>
									</div> 
									<div id="community" class="link">Community
										<div id="communityDropdown" class="dropdown"> 
											<div><a href="/mac" class="dropdownLink">MAC</a></div> 
											<div><a href="/citygovernment" class="dropdownLink">City Government</a></div> 
											<div><a href="http://www.co.boone.ia.us" class="dropdownLink">Boone County</a></div> 
											<div><a href="http://www.booneiowa.us" class="dropdownLink">Boone Chamber of Commerce</a></div>
											<div><a href="/comingsoon" class="dropdownLink">Meeting Times</a></div> 	
										</div>
									</div> 		
								</div> 
                                <div id="main-content">
                                        <div id="sidebar">
                                                %Sidebar%
                                        </div>
                                        <div id="content">
                                                %Content%   
                                        </div>
                                </div>
                              </div>
                        </div>
                </div>
        </body>
</html>

